.About-title{
    position: relative;
    width: 320px;
    overflow: hidden;
    z-index: 1;
}

.About-title::before{
    content: '';
    position: absolute;
    inset: 0;
    padding: 6px;
    border-radius: 12px;
    z-index: -1;
    background-size: 30px 30px;
    animation: movingZigzag 3s linear infinite;
    background: repeating-linear-gradient(45deg, #da7c25 0 6px, transparent 6px 12px),repeating-linear-gradient(-45deg, #b923e1 0 6px, transparent 6px 12px);
    mask: linear-gradient(#000 0 0) content-box,linear-gradient(#000 0 0);
    mask-composite: exclude;
}

@keyframes movingZigzag{
    0%{background-position: 0 0, 0 0;}
    100%{
        background-position: 60px 60px, -60px -60px;
    }
}

.about-image{
    width: fit-content;
    /* height: 25rem; */
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
}

.about-skill{
    transition: 0.3s;
}
.about-skill p{
    min-width: 7rem;
    font-size: 1.25rem;
}

.about-skill hr{
    outline: none;
    border: none;
    /* width: 50%; */
    height: 0.5rem;
    border-radius: 3.125rem;
    background: linear-gradient(267deg, #da7c25 15%, #b923e1 102.6%);
}

.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width:767.9px) {
   .About-title{
    width: 50%;
    height: 4rem;
    
} 
}

@media (min-width:768px) {
   .about-skill p{
    min-width: 9.4rem;
    font-size: 1.25rem;
} 
}