
.subscribeForm input:nth-child(2):hover{
transform: scale(1.08);
transition: 0.3s;
}

.footerBrand h1{
    font-family:cursive;
     color: #a0a0a0;
    font-size: 36px;
}

.footerBrand p, .copyRight p, .footer .footerTerms{
color: #a0a0a0;
    font-size: 20px;
}

.footer .footerTerms:hover, .footer_icon i:hover{
    background:linear-gradient(270deg, #df8908 70%, #b415ff 100% ) ;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transform: scale(1.1);
transition: 0.5s;
}

.footer_icon:hover i{
    transform: scale(1.5);
}

.footer_icon i{
    animation: animeFooterIconDrop 2s linear;
}

@keyframes animeFooterIconDrop {
    0%{
       opacity: 0;
        transform: translatey(100px);
    }
    50%{
        transform: translatey(50px);
    }
    100%{
        transform: translatey(0);
    }
}

@media (max-width:767.9px) {
    .changingReverse{
        display: flex;
        flex-direction: column-reverse;
    }
}

