header {
  border-bottom: .001rem solid rgba(124, 124, 122, 0.247);
  height: 5rem;
  
}

.Nav_resume{
background:linear-gradient(270deg, #df8908 10%, #b415ff 100% ) ;
}

.navStyling, .navStylin{
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    padding: 0 1.1rem;
    transition: .5s;
    color: white;
}

.navStyling:hover{
color: white;
transform: scale(1.05);
transition: .5s;
}

.navStyling span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 3px solid white;
    border-radius: 0.9rem;
    transform: scale(0) translateY(3.04rem);
    opacity: 0;
    transition: .5s;
}

.navStyling:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.hoverTextDiv{
background-color: rgb(0,0,0,.6);
width: 100%;
transition: .5s linear;
z-index: 22;
margin-top: 4.4rem;
}

.hoverTextDiv ul li:hover{
background-color: #333;
transition: .7s linear;
}

.resumeCVNavBar{
  font-size: clamp(1.02rem, 1vw, 1.5rem);
    border: 2px solid white;
    cursor: pointer;
    transition: .5s;
    &:hover{
      border-color: #b415ff;
    }
}

.dropdown-menu li{
  margin: .4rem 0;
}


.dropdown-menu li a{
  border: 1px solid #df8908;
  &:hover{
    background:linear-gradient(270deg, #df8908 10%, #b415ff 100% );
    border: 1px solid wheat; 
  }
}

@media(min-width:768px) and (max-width:1024px){
.dropdown-menu {
  margin-left: -5rem;
}

.heroContent h1{
font-size: 4rem;
}
}

@media(max-width:768px) {
.dropdown-menu{
  background-color: #e60d0d;
  backdrop-filter: blur(7px);
}
}
