.dCaptionText, .bePartanimation {
    animation: appear 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }

    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.dCaptionText2Anime{
    animation: appear2 2s linear;
}

@keyframes appear2 {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }

    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.ourImpactAnimate {
    animation: ourLandinAnimate2 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.ourLandinAnimate2 {
    animation: ourInpactANI 2s linear;
}


@keyframes ourLandinAnimate2 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes ourInpactANI {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.ourCoreValueAnimate {
    animation: ourCoreValueAni 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.scaleAnime {
    animation: scaleAnime 1s linear;
}

@keyframes scaleAnime {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.translatinhVertical:hover{
    transform: translateY(10px);
   transition: .5s all;
}


@media (min-width:48rem) {
    .dCaptionText, .bePartanimation {
    animation: appear 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
}




