form input:nth-child(1){
    border: none;
    outline: none;
    background: #32323c;
    color: #a0a0a0;
    font-size: 20px;
}
form input:nth-child(2){
background:linear-gradient(270deg, #df8908 10%, #b415ff 100% ) ;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    font-size: 20px;
}
form input:nth-child(2):hover{
transform: scale(1.08);
transition: 0.3s;
}

.footerBrand h1{
    font-family:cursive;
}