*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f5f5f5;
}

section{
  background-color:#280b08 ;
  /* width: 100%; */
  min-height: calc(85vh - 5rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* border: 7px solid red; */
}


