*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

.body{
  /* height: 100vh; */
  font-family: outfit;
}

section{
  /* height: calc(100vh - 5rem); */
  background-color:#280b08 ;
}